* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chivo";
  font-size: 16px; }

@font-face {
  font-family: "Chivo";
  src: url("../fonts/Chivo-Light.ttf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Chivo";
  src: url("../fonts/Chivo-LightItalic.ttf");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: "Chivo";
  src: url("../fonts/Chivo-Regular.ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Chivo";
  src: url("../fonts/Chivo-Italic.ttf");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: "Chivo";
  src: url("../fonts/Chivo-Bold.ttf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Chivo";
  src: url("../fonts/Chivo-BoldItalic.ttf");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: "Chivo";
  src: url("../fonts/Chivo-Black.ttf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Chivo";
  src: url("../fonts/Chivo-BlackItalic.ttf");
  font-weight: 600;
  font-style: italic; }
body {
  opacity: 0;
  -webkit-transition: opacity 1.5s ease-in;
  -moz-transition: opacity 1.5s ease-in;
  -ms-transition: opacity 1.5s ease-in;
  -o-transition: opacity 1.5s ease-in;
  transition: opacity 1.5s ease-in; }

.horiz-divider {
  height: 1px;
  width: 200px;
  background-color: #EAEAEA; }

.body-content {
  width: 62%;
  margin: 0 auto; }

.navbar {
  height: 91px;
  padding: 0 19%;
  margin: 0 auto;
  border-bottom: 1px solid #EAEAEA; }
  .navbar .left-links {
    float: left; }
  .navbar .left-links a:first-child {
    margin-left: 0; }
  .navbar .right-links {
    float: right; }
  .navbar .right-links a:last-child {
    margin-right: 0; }

.navlink {
  display: inline-block;
  margin: 2.25rem 1.75rem;
  text-decoration: none;
  color: black;
  font-style: normal;
  transition: all 0.5s ease; }

.navlink:hover {
  -webkit-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  transform: skewX(-15deg); }

.basic-info {
  margin-top: 6rem;
  margin-bottom: 6rem; }
  .basic-info #my-name {
    font-size: 2.35rem;
    font-weight: 500;
    margin-bottom: 1rem; }
  .basic-info #my-title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 2rem; }
  .basic-info #my-passion {
    font-size: 1.25rem;
    font-weight: 400;
    color: #777777; }
    .basic-info #my-passion #to-about-link {
      font-size: 1.25rem;
      font-weight: 500;
      color: #777777;
      text-decoration: none;
      transition: all 0.5s ease; }
    .basic-info #my-passion #to-about-link:hover {
      color: black; }

.skills-sec {
  margin-top: 2.5rem;
  margin-bottom: 6rem; }
  .skills-sec #skills-title {
    font-size: 1.45rem;
    font-weight: 400;
    margin-bottom: 3.5rem; }

.logos-sec .prog-skills-row1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px; }
.logos-sec .prog-skills-row2 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px; }
.logos-sec .design-skills-sec {
  display: flex;
  margin-top: 1rem; }

.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 15px; }

.logo {
  height: auto;
  max-width: 95px;
  vertical-align: middle; }

.logo-descrip-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(234, 234, 234, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 1s; }

.logo-wrap:hover .logo-descrip-wrap {
  visibility: visible;
  opacity: 1; }

.logo-description {
  transition: 1s;
  transform: translateY(0.75em);
  cursor: default; }

.logo-wrap:hover .logo-description {
  transform: translateY(0); }

#sass-logo {
  max-width: 90px; }

#js-logo {
  background-image: url("../imgs/skills/javascript.png");
  background-size: 92.5%; }

#jquery-logo {
  background-image: url("../imgs/skills/jquery.png");
  background-size: 92.5%; }

#ruby-logo {
  background-image: url("../imgs/skills/ruby.png");
  background-size: 90%; }

#rails-logo {
  background-image: url("../imgs/skills/rails.png"); }

#sqlite-logo {
  background-image: url("../imgs/skills/sqlite.png"); }

#git-logo {
  background-image: url("../imgs/skills/git.png"); }

#github-logo {
  background-image: url("../imgs/skills/github.png"); }

#heroku-logo {
  background-image: url("../imgs/skills/heroku.png"); }

#ps-logo {
  background-image: url("../imgs/skills/photoshop.png");
  background-size: 92.5%; }

#ai-logo {
  background-image: url("../imgs/skills/illustrator.png");
  background-size: 92.5%; }

#id-logo {
  background-image: url("../imgs/skills/indesign.png");
  background-size: 92.5%; }

#pr-logo {
  background-image: url("../imgs/skills/premierepro.png");
  background-size: 92.5%; }

.projects-sec {
  margin-top: 2.5rem;
  margin-bottom: 6rem; }
  .projects-sec #projects-title {
    font-size: 1.45rem;
    font-weight: 400;
    margin-bottom: 3.5rem; }

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  width: 100%;
  height: 1500px; }

.proj-img {
  height: 271px;
  border: 1px solid #EAEAEA;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#cloudbox-img {
  background-image: url("../imgs/projects/cloudbox.png"); }

#nameartist-img {
  background-image: url("../imgs/projects/nametheartist.png"); }

#saphire-img {
  background-image: url("../imgs/projects/saphire.png"); }

#mtg-img {
  background-image: url("../imgs/projects/mtg.png"); }

#modern-img {
  background-image: url("../imgs/projects/themodern.png"); }

#papercuts-img {
  background-image: url("../imgs/projects/papercuts.png"); }

.proj-title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 17.5px; }

.proj-prog-langs {
  font-size: 0.9rem;
  color: #777777;
  line-height: 1.4rem;
  margin-top: 10px; }

.proj-description {
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin-top: 10px; }

.proj-demos-repos {
  font-size: 0.9rem;
  font-weight: 500;
  color: #777777;
  margin-top: 10px; }

.proj-link {
  font-size: 0.9rem;
  font-weight: 500;
  color: #777777;
  line-height: 1.4rem;
  text-decoration: none;
  transition: all 0.5s ease; }

.proj-link:hover {
  color: black; }

.about-me-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px; }

#about-me {
  font-size: 2.35rem;
  font-weight: 500;
  margin-bottom: 2.5rem; }

#about-me-img {
  height: 650px;
  background-image: url("../imgs/aboutmeimg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.about-me-text {
  font-size: 1.15rem;
  line-height: 1.75rem;
  color: #777777;
  margin-bottom: 15px; }

.about-me-text:first-child {
  margin-top: 25px; }

.about-me-link {
  font-size: 1.15rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #777777;
  text-decoration: none;
  transition: all 0.5s ease; }

.about-me-link:hover {
  color: black; }

/*# sourceMappingURL=main.css.map */
