.basic-info {
  width: 62%;
  margin: 0 auto;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

#my-name {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

#my-title {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

#my-passion {
  font-size: 1.25rem;
  font-weight: 400;
  color: $med-gray;
}
