.navbar {
  height: 91px;
  padding: 0 19%;
  margin: 0 auto;
  border-bottom: 1px solid $light-gray;

  .left-links {
    float: left;
  }

  .left-links a:first-child {
    margin-left: 0;
  }

  .right-links {
    float: right;
  }

  .right-links a:last-child {
    margin-right: 0;
  }
}

.navlink {
  display: inline-block;
  margin: 2.25rem 1.75rem;
  text-decoration: none;
  color: black;
  font-style: normal;
  transition: all 0.5s ease;
}

.navlink:hover {
  -webkit-transform: skewX(-15deg);
  -moz-transform: skewX(-15deg);
  -o-transform: skewX(-15deg);
  transform: skewX(-15deg);
}
