.projects-sec {
  margin-top: 2.5rem;
  margin-bottom: 6rem;

  #projects-title {
    font-size: 1.45rem;
    font-weight: 400;
    margin-bottom: 3.5rem;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  width: 100%;
  height: 1500px;
}

.proj-img {
  height: 271.5px;
  border: 1px solid $light-gray;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#cloudbox-img {
  background-image: url('../imgs/projects/cloudbox.png');
}

#nameartist-img {
  background-image: url('../imgs/projects/nametheartist.png');
}

#saphire-img {
  background-image: url('../imgs/projects/saphire.png');
}

#mtg-img {
  background-image: url('../imgs/projects/mtg.png');
}

#modern-img {
  background-image: url('../imgs/projects/themodern.png');
}

#papercuts-img {
  background-image: url('../imgs/projects/papercuts.png');
}

.proj-title {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 17.5px;
}
