.projects-sec {
  margin-top: 2.5rem;
  margin-bottom: 6rem;

  #projects-title {
    font-size: 1.45rem;
    font-weight: 400;
    margin-bottom: 3.5rem;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  width: 100%;
  height: 1500px;
}

.proj-img {
  height: auto;
  width: 100%;
  border: 1px solid $light-gray;
}

.proj-title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 17.5px;
}

.proj-prog-langs {
  font-size: 0.9rem;
  color: $med-gray;
  line-height: 1.4rem;
  margin-top: 10px;
}

.proj-description {
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin-top: 10px;
}

.proj-demos-repos {
  font-size: 0.9rem;
  font-weight: 500;
  color: $med-gray;
  margin-top: 10px;
}

.proj-link {
  font-size: 0.9rem;
  font-weight: 500;
  color: $med-gray;
  line-height: 1.4rem;
  text-decoration: none;
  transition: all 0.5s ease;
}

.proj-link:hover {
  color: black;
}
