.skills-sec {
  margin-top: 2.5rem;
  margin-bottom: 6rem;

  #skills-title {
    font-size: 1.45rem;
    font-weight: 400;
    margin-bottom: 3.5rem;
  }
}

.logos-sec {

  .prog-skills-row1 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .prog-skills-row2 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .design-skills-sec {
    display: flex;
    margin-top: 1rem;
  }
}

.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  position: relative;
  margin: 0 10px;
}

#premiere-wrap {
  flex-direction: column;
}

.logo {
  max-height: 90px;
  max-width: 90px;
  vertical-align: middle;
}

.logo-descrip-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(234, 234, 234, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
}

.logo-wrap:hover .logo-descrip-wrap {
  visibility: visible;
  opacity: 1;
}

.logo-description {
  transition: 1s;
  transform: translateY(0.75em);
  cursor: default;
}

.logo-wrap:hover .logo-description {
  transform: translateY(0);
}



//
