.skills-sec {
  margin-top: 2.5rem;

  #skills-title {
    font-size: 1.45rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
  }
}

.logos-sec {
  padding-left: 2.5%;
  border: 1px solid;

  .prog-skills-sec {
    display: flex;
    flex-wrap: wrap;
  }

  .design-skills-sec {
    display: flex;
    margin-top: 1rem;
  }

}

.logo {
  display: inline;
  height: 90px;
  width: 90px;
  border: 1px solid;
  background-size: contain;
}

#html-logo {
  background-image: url('../imgs/skills/html5.png');
}

#css3-logo {
  background-image: url('../imgs/skills/css3.png')
}
